.container{
    padding: 0;
    background-color: #eee;
    min-height: 800px;
}

.blood-sugar div{
    float: left;
}

.blood-sugar-statistics{
    background-color: #fff;
    height: 80px;
}

.blood-sugar-table-title{
    height: 80px;
    background-color: #eee;
}


.blood-sugar-pie{
    position: relative;
    width: 30%;
    height: 100%;
}

.circle{
    margin: -2px auto 0 auto;
    width: 80px;
    padding: 8px;
    float: none !important;
}
.pie-tips{
    position: absolute;
    color: #999;
    width: 100%;
    margin-top: 42px;
    text-align: center;
    font-size: 12px;

}
.progressbar-text{
}

.blood-sugar-count{
    width: 70%;
    height: 100%;

}

.blood-sugar-count div{
    position: relative;
    width:33.33333%;
    height: 100%;
    text-align: center;
    padding: 15px 0 ;
}
.blood-sugar-count p{
    margin: 0 0 5px;
}
.bsc-status{
    color:#999;
    font-weight: lighter;
    font-size: 16px;
}

.bsc-status img{
    height: 6px;
    width: 6px;
    margin-bottom: 2px;
    background-color: gray;
    border-radius: 50%;
}

.bsc-count{
    font-size: 16px;
}

/*表头*/

.bst-datetime{
    border: 1px solid #ccc;
    border-right: 0;

    width: 80px;
    height: 100%;
}

.blood-sugar-table-title .bst-datetime{
    position: absolute;
    height: 80px;
}

.bst-datetime span:nth-child(1){
    position:absolute;
    right: 10px;
    top :5px;
}

.bst-datetime span:nth-child(2){
    position:absolute;
    left: 10px;
    bottom :5px;
}

/*斜线*/
.ui-line1{
    width: 106px;
    height: 0px;
    border-top: 1px solid #ccc;
    transform: translateY(34px) translateX(-14px) rotate(41deg);
    -moz-transform: translateY(34px) translateX(-14px) rotate(41deg);
    -webkit-transform: translateY(34px) translateX(-14px) rotate(41deg);
}

.bst-table-head{
    width: 80px;
    height: 80px;
    float: left;
}

.bst-table-title{
    margin-left: 80px;
    width: auto;
    height: 80px;
}

.bsc-table{
    width: 100%;
    height: 80px;
    text-align: center;
    display: inline-flex;
}

.bsc-table-2{
    width:28.5714%;
    height: 80px;
    float: left;
}
.bsc-table-1{
    height: 80px;
    width:14.2857%;
    float: left;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top:1px solid #ccc;
}
.bsc-table-top{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top:1px solid #ccc;
    border-left: 1px solid #ccc;

}
.bsc-table-bottom{
    display: flex;
    height: 40px;

}
.bsc-table-bottom div{
    float: left;
    line-height: 39px;
    width: 50%;
}
.bsc-table-bottom div{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.bst-vertical-div{
    margin: 0 auto;
    width: 18px;
    padding: 15px 0;
}

/**表格 body 白色部分**/

.blood-sugar-table-content{
    background-color: #fff;
}

.bstc-table{
    width: 100%;
    text-align: center;
}

.bstc-tr{
    height: 40px;
    width: 100%;
}
.bstc-tr .bstc-tr-h,.bstc-tr .bstc-tr-b{
    height: 100%;
    line-height: 43px;
}

.bstc-tr-h{
    color: #999;
    width: 80px;
    float: left ;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;

}

/*每一个小框*/
.bstc-tr-b{
    margin-left: 80px;
    width: auto;
    color:#666;
    /*color: #7BCBff;*/
    display: flex;
}
.bstc-tr-b>div{
    height: 40px;
    position: relative;
    width:14.28571%;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    float:left;
}
/*框中 右下角的角标*/
.bstc-corner-sign{
    position: absolute;
    bottom:0;
    right: 0;
    height: 0;
    width: 0;
    border-bottom: 10px solid #3bc5a2;
    border-left: 10px solid transparent;
}

.color-high{
    color:#ffa800;
}
.color-low{
    color:#7BCBff;
}
.color-nothing{
    color:#999;
}

.modalCss {
    text-align: center;
    border-radius: 19px;
    vertical-align: middle;
    padding-top: 30px;
    width: 173px;
    height: 100px;
    font-size: 22px;
    color: #eee;
    background-color: rgba(33, 183, 150, 1);
    margin: auto;
}