* {
    font-size: 16px;
}

/*健康监测*/
.hm-header {
    margin: 20px;
}

.hm-nav {
    width: 240px;
    height: 38px;
    margin: 0 auto;
    color: #5cc096;
    font-size: 16px;
    text-align: center;
    border: 1px #5cc096 solid;
    border-radius: 5px;
    overflow: hidden;
}

.hm-nav div {
    line-height: 36px;
    height: 36px;
}

.hm-cx3 {
    padding: 0 25px;
}

.hm-cx9 {
    text-align: right;
}

.hm-cx {
    padding: 0;
}

.hm-monitor {
    background-color: #5cc096;
    color: white;
}

.hm-footer {
    height: 200px;
    background-color: #EBECED;
}

.hm-footer button {
    background-color: #FCC254;
    color: white;
    width: 240px;
    display: block;
    font-size: 16px;
    border: 1px #FCC254 solid;
    margin: 0 auto;
    margin-top: 120px;
}

.hm-test button {
    background-color: #FCC254;
    color: white;
    width: 80px;
    float: right;
    font-size: 16px;
    border: 1px #FCC254 solid;
}

.hm-cx6 {
    width: 41%;
    padding: 0;
}

.hm-test {
    float: right;
    margin: 15px 0;
    padding: 0;
    width: 80px;
}

.hm-imgbg {
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px 0;
    background-color: #00b3ee;
}

.hm-data {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    width: 80%;
}

.hm-lgi {
    padding: 5px 10px;
    border-top: 1px #EBECED solid;
    height: 100px;
    width: 100%;
}

.hm-lgi:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hm-lgi:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.hm-container {
    padding: 0;
    margin: 0;
}

.hm-color {
    color: #FCC254;
}

.hm-color2 {
    color: #61B6F1
}

.hm-oxygen {
    width: 180px;
}

/*专家团队*/
.et-lg {
    width: 100%;
    margin: 37px 0 0;
}

.et-active {
    border-bottom: 2px #0ABE96 solid;
    padding-bottom: 8px;
}

.et-lgi {
    height: 130px;
    padding: 0;
}

.et-lgi:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.et-lgi:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.et-photo {
    width: 85px;
    height: 85px;
    margin: 20px 12px;
    border-radius: 42px;
    float: left;
}

.et-photo > img {
    width: 85px;
}

.et-introduction {
    margin: 20px 1px;
    float: right;
    width: 65%;
}

.et-name > img {
    width: 13px;
    height: 10px;
}

.et-name > span {
    margin: 0 10px;
    color: #212121;
    font-size: 14px;
}

.et-position > img {
    width: 12px;
    height: 13px;
}

.et-position > span {
    margin: 0 10px;
    font-size: 12px;
}

.et-content > span {
    margin: 0 20px;
    font-size: 12px;
}

/*预约*/
.am-m {
    top: 40%;
}

.am-md {
    align-items: center;
    margin: 0 auto;
    width: 280px;
}

#myModalLabel {
    margin: 0;
}

.am-mb {
    text-align: center;
    font-size: 16px;
    color: #212121;
}

.am-mf {
    border-top: 1px #0ABE96 solid;
    padding: 0;
    height: 40px;
}

.am-btn-submit {
    width: 50%;
    float: left;
    height: 40px;
}

.am-btn-submit > button {
    width: 100%;
    border-radius: 0;
    border: none;
    font-size: 16px;
    color: #0ABE96;
    background-color: white;
    text-align: center;
}

.am-btn-submit > button:active:focus,
.am-btn-submit > button:focus,
.am-btn-submit > button:hover {
    color: #0ABE96;
    background-color: white;
    border-color: white;
    outline: none;
}

.am-btn-cancel {
    width: 50%;
    float: left;
    height: 40px;
    margin: 0;
}

.am-btn-cancel > button {
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: #0ABE96;
    color: white;
    text-align: center;
    border-radius: 0 0 5px 0;
    height: 39px;
}

.am-btn-cancel > button:active:focus,
.am-btn-cancel > button:focus,
.am-btn-cancel > button:hover {
    color: white;
    background-color: #0ABE96;
    border-color: #0ABE96;
    outline: none;
}

.am-header {
    padding: 0;
    background-color: #ECECEC;
    width: 100%;
    /*overflow: hidden;*/
}

.am-nav {
    margin: 0;
    font-size: 14px;
    /*position: relative;*/
    /*overflow: hidden;*/
}

.am-ss {
    width: 35%;
    padding: 8px 0;
    text-align: center;
}

.am-active {
    border-bottom: 2px #0ABE96 solid;
    padding-bottom: 8px;
}

.am-lg {
    margin: 37px 0 0;
}

.am-lgi {
    height: 130px;
    padding: 0;
}

.am-lgi:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.am-lgi:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.am-photo {
    width: 100px;
    height: 100px;
    margin: 10px 5px;
    border-radius: 50px;
    float: left;
}

.am-photo > img {
    width: 100px;
}

.am-introduction {
    width: 62%;
    margin: 10px 5px;
    float: right;
}

.am-name {
    font-size: 16px;
}

.am-content {
    font-size: 14px;
}

.am-cancel {
    background-color: #B1B1B1;
    color: white;
    font-size: 15px;
    border: none;
}

.am-cancel:focus,
.am-cancel:focus:active,
.am-cancel:hover {
    outline: none;
    color: white;
    background-color: #B1B1B1;
    border-color: #ccc;
}

.am-submit {
    background-color: #0ABE96;
    color: white;
    font-size: 15px;
    padding: 6px 27px;
    border: none;
}

.am-submit:focus,
.am-submit:focus:active,
.am-submit:hover {
    outline: none;
    color: white;
    background-color: #0ABE96;
    border: none;
}

.am-button {
    margin: 5px;
    float: right;
}

/*会员问诊*/
.mi-header {
    height: 190px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0;
}

.mi-photo {
    width: 84px;
    height: 84px;
    margin: 0 auto;
    border-radius: 42px;
    overflow: hidden;
}

.mi-photo > img {
    width: 84px;
}

.mi-name {
    margin: 15px 0;
    text-align: center;
    width: 100%;
}

.mi-description {
    width: 100%;
    text-align: center;
}

.mi-operation {
    height: 75px;
    width: 250px;
    margin: 39px auto;
    font-size: 12px;
}

.mi-introduction {
    margin: 24px 33px;
}

.mi-fontcolor {
    color: #666666;
}

.mi-tel {
    margin: 8px auto;
    text-align: center;
}

.mi-online {
    margin: 8px auto;
    text-align: center;
}

.mi-pic {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.mi-pic > img {
    width: 60px;
}

.mi-time {
    margin: 45px 33px;
    text-align: center;
}

/*套餐列表*/
.pl-active {
    border-bottom: 2px #0ABE96 solid;
    padding-bottom: 8px;
}

.pl-header {
    padding: 0;
    background-color: #ECECEC;
    width: 100%;
}

.pl-nav {
    margin: 0;
    font-size: 14px;
}

.pl-cx3 {
    padding: 8px 0;
    text-align: center;
}

.pl-lg {
    margin: 37px 0 0;
}

.pl-lgi {
    height: 138px;
    padding: 0;
}

.pl-lgi:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pl-lgi:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.pl-photo {
    width: 100px;
    height: 100px;
    margin: 16px 12px;
    border-radius: 50px;
    float: left;
}

.pl-photo > img {
    width: 100px;
}

.pl-introduction {
    width: 65%;
    margin: 15px 0 5px 5px;
    float: right;
}

.pl-name {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 18px;
    color: #212121;
}

.pl-content {
    height: 48px;
    font-size: 14px;
    padding-top: 10px;
    color: #666666;
}

.pl-footer {
    margin-top: 7px;
    width: 100%;
    height: 40px;
    display: inline-flex;
}

.pl-price {
    font-size: 18px;
    color: #FCC254;
    float: left;
    width: 47%;
    padding-top: 6px;
}

.pl-data {
    font-size: 12px;
    text-align: center;
    padding-top: 12px;
    color: #666666;
}

.pl-button {
    float: right;
    width: 50%;
    padding-left: 36px;
}

.pl-submit {
    width: 80px;
    background-color: #B1B1B1;
    color: white;
    font-size: 15px;
    padding: 4px 20px;
    border: none;
}

.pl-buy {
    width: 80px;
    background-color: #FCC254;
    color: white;
    font-size: 15px;
    padding: 6px 20px;
    border: none;
}

/*我的套餐*/
.mpl-lg {
    margin-bottom: 0;
}

.mpl-footer {
    height: 292px;
    background-color: #ECECEC;
}

/*我的套餐详细*/
.mpd-header {
    width: 100%;
    height: 85px;
    border-bottom: 5px #ECECEC solid;
    padding: 15px;
}

.mpd-header-left {
    width: 76%;
    float: left;
}

.mpd-header-name {
    font-size: 16px;
    color: #222222;
}

.mpd-header-date {
    font-size: 15px;
    color: #FCC254;
}

.mpd-header-right {
    width: 24%;
    float: right;
}

.mpd-btn {
    width: 80px;
    background-color: #FCC254;
    color: white;
    border: none;
    font-size: 16px;
}

.mpd-lgi {
    border: none;
    margin: 15px 20px;
    padding: 0;
}

.mpd-title {
    font-size: 15px;
    color: #212121;
}

.mpd-content {
    font-size: 15px;
    color: #666666;
}

/*医生介绍*/
.di-header {
    height: 296px;
    width: 100%;
    margin: 0 auto;
    /*padding: 15px 0;*/
}

.di-header span {
    margin-right: 8px;
}

.di-photo {
    width: 98px;
    height: 98px;
    border-radius: 49px;
    overflow: hidden;
    margin: 10px auto;
}

.di-photo > img {
    width: 100px;
    height: 100px;
}

.di-name {
    margin: 6px 0;
    text-align: center;
    color: #212121;
    font-size: 19px;
}

.di-office {
    /*padding-left:14px;*/
    text-align: center;
    color: #666666;
}

/*.di-office span{*/
/*margin: 0 8px;*/
/*}*/

.di-subject {
    margin: 6px 0;
    text-align: left;
    font-size: 16px;
    padding: 0 25px;
    color: #666666;
}

.di-description {

    height: 93px;
    padding: 0 25px;
    text-align: left;

    /*多行超出隐藏*/
    /*overflow: auto;*/
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    /*white-space: nowrap;*/
    width: 100%;

}

.di-introduction {
    margin: 0 1px;
}

.di-fontcolor {
    color: #666666;
}

.di-server {
    margin-top: 15px;
    background-color: #ECECEC;
    width: 100%;
    height: 37px;
    font-size: 15px;
    padding: 7px 20px;
    color: #666666;
    border: 1px #ECECEC solid;
}

.di-lg {
    margin: 0;
}

.di-lgi {
    height: 125px;
    padding: 0;
}

.di-lgi:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.di-server-photo {
    width: 100px;
    height: 100px;
    margin: 10px 13px;
    border-radius: 50px;
    float: left;
}

.di-server-photo > img {
    width: 100px;
}

.di-server-introduction {
    width: 64%;
    margin: 10px 0;
    float: right;
}

.di-server-name {
    font-size: 18px;
    color: #212121;
    margin-bottom: 8px;
    overflow: auto;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.di-server-content {
    height: 21px;
    font-size: 15px;
    margin-bottom: 12px;
    overflow: auto;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.di-footer {
    /*margin-top: 10px;*/
    width: 100%;
    height: 30px;
    display: inline-flex;
}

.di-price {

    float: left;
    width: 58%;
    font-size: 18px;
    color: orange;
    font-weight: 200;
    margin-top: 10px;

    /*padding-top: 5px;*/
}

.di-button {
    float: right;
    width: 35%;
    /*padding: 0 15px;*/
}

.di-buy {
    width: 75px;
    /*background-color: #FCC254;*/
    background-color: #E8E7E5;
    color: white;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 8px;
    /*padding: 6px 20px;*/
    border: none;
    height: 32px;
}

/*体检报告*/
body {
    margin: 0;
}

.pReport {
    background-color: white;
    margin: 8px 8px;
    border: 1px #ECECEC solid;
    border-left: 3px #0ABE96 solid;
    height: 115px;
}

.pr-list1 {
    /*margin: 15px 15px 0 15px;*/
    /*padding-bottom: 15px;*/
    height: 48px;
    line-height: 48px;
    border-bottom: 1px #ECECEC dotted;
    padding-left: 10px
}

.pr-list1 img {
    width: 26px;
    height: 28px;
    margin: 5px;
}

.pr-title {
    color: #666666;
    font-size: 16px;
}

.pr-content {
    color: #999999;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 12px;
    overflow: auto;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.pr-date {
    color: #999999;
    font-size: 12px;
    float: right;
}

.pr-assesser {
    color: #999999;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 12px;
}

.loadingDiv {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9989;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    text-align: center;
}

.loadingSDiv {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9989;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    text-align: center;
}

.pReportTitle {
    width: 93%;
    height: 20px;
    background-color: white;
    color: #333333;
    border-bottom: 1px #f3f3f3 solid;
    padding: 16px;
}

.pReportTitle > img {
    width: 15px;
    height: 12px;
    float: right;
    margin: 5px;
}

.prt1 > img {
    transform: rotate(180deg);
}

.prt1 > span > img {
    width: 30px;
    height: 20px;
}

.modalCss {
    text-align: center;
    border-radius: 19px;
    vertical-align: middle;
    padding-top: 30px;
    width: 173px;
    height: 100px;
    font-size: 22px;
    color: #eee;
    background-color: rgba(33, 183, 150, 1);
    margin: auto;
}

@media screen and (max-width: 320px) {
    .di-server-introduction {
        width: 60%;
    }

    .di-header {
        height: 335px
    }

    .di-price {
        width: 51%;
    }
}