body {
    background: rgb(240, 240, 240);
}

.img-width {
    width: 100%;
}

.index-img-box {
    position: relative;
}

.index-img {
    height: 17.3rem;
}

.index-img-title {
    height: 3.3rem;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(33, 183, 150, 0.8);
    display: inline-flex;
    padding: 10px;
    font-weight: 100;
}
.pm{
    width: 35%;
    float: right;
}
.temperature{
    width: 30%;
}
.area{
    width: 25%;
}
.weather{
    width: 10%;
    background-color: #00a2d4;
}
.bg-color {
    background: rgba(33, 183, 150, 0);
}

.serve-box {
    margin: 1rem 0;
    list-style: none;
    padding: 0;
    clear: both;
    display: block;
    height: 7.7rem;
}

.serve-box > li {
    width: 25%;
    padding: 0 0.3rem;
    float: left;
}

.serve-item {
    width: 100%;
    height: 6.5rem;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    text-align: center;
}
.serve-item-big{
    font-size: 15px;
    width: 68px;
    border-bottom: 2px #5cc096 solid;
    padding: 5px;
}
.serve-item-small{
    font-size: 11px;
    padding: 10px 0;
    display: inline-block;
}
.serve-item>img {
    position:absolute;
    margin-left: -20px;
    left: 50%;
    bottom: -20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 5px white solid;

}
.health-plan-box{
    background: white;
}
.health-plan-box>div>img{
    width: 50px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: #00a2d4;
}
.health-plan-title{
    height: 4.5rem;
    line-height: 4.5rem;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    font-weight: 200;
    margin: 10px;
    font-size: 16px;
}
.health-package {
    height: 10rem;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    clear: both;
    display: inline-flex;
}

.health-left{
    float: left;
    margin: 10px;

}
.health-left>img{
    height: 100px;
    width: 100px;
    float: left;
}
.health-right{
    width: 70%;
    margin: 10px;
}
.health-right-title{
    text-align: left;
    color: #555555;
    margin-top: 0;
    font-weight: 300;
    font-size: 1.6rem;
}
.health-right-text{
    color: #aaaaaa;
    font-weight: 200;
    width: 100%;
}
.health-right-footer{
    padding: 10px 0;
    width: 100%;
    height: 40px;
    display: inline-flex;
}
.health-right-price{
    font-size: 16px;
    color: #d58512;
    float: left;
    width: 50%;
}
.health-right-button{
    float: right;
    width: 50%;
    padding: 0 10px;
}
.health-right-btn{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 5rem;
    height: 2rem;
    font-size: 1.6rem;
    float: right;
    margin:  0;
}
button{
    box-shadow: none;
    border: none;
}
.fhao-width{
    width: 100%;
}