/*
 * common
 */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #1B99A8;

}

button:focus {
  outline: none;
}

.container {
  padding: 0;
  /*min-height: 736px;*/
  position: relative;
  background: url("../img/boat/boat_bg.png") top no-repeat #24D4EC;
  background-size: 100% 544px;
}

.boat-loading{
  height: 736px;
  width: 100%;
  padding: 0;
  top: 0;
  /*min-height: 736px;*/
  position: absolute;
  z-index: 9999;
  background-color: #44D9ED;
}

.boat-loading-bg{

}

.wish {
  min-width: 320px;
  max-width: 414px;
  margin: 0 auto;
  width: 100%;
  padding: 30px 0px;
}
.wish textarea {
  display: block;
  width: 250px;
  margin: 0 auto;
  border: none;
  resize: none;
  background-color: #e8e1cf;
  color: #666;
  font-size: 16px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 30px;
}
.wish textarea:focus {
  outline: none;
}

.card-container {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  overflow: hidden;
}
.card-container .btn-img-add {
  position: relative;
  top: 66px;
  left: 67px;
  width: 90px;
  height: 90px;
  overflow: hidden;
  opacity: 0;
}
.card-container .btn-img-add input {
  font-size: 50px;
}
.card-container .card-back {
  position: relative;
  top: -276px;
  margin: 0 auto;
  pointer-events: none;
}
.card-container .card-back img {
  width: 100%;
}
.card-container .add {
  position: relative;
  top: -116px;
  left: 67px;
  width: 90px;
  pointer-events: none;
}

.card-container-two-background{
  /*background-color: #7ECEF4;*/
  /*background: -webkit-linear-gradient(#C8EAFA,#A0DBF7,#7ECEF4,#7ECEF4); *//* Safari 5.1 - 6.0 */
  /*background: -o-linear-gradient(#C8EAFA,#A0DBF7,#7ECEF4,#7ECEF4); *//* Opera 11.1 - 12.0 */
  /*background: -moz-linear-gradient(#C8EAFA,#A0DBF7,#7ECEF4,#7ECEF4); *//* Firefox 3.6 - 15 */
  /*background: linear-gradient(#C8EAFA,#A0DBF7,#7ECEF4,#7ECEF4); *//* 标准的语法 */
}

.card-container-two {
  position: relative;
  /*height: 320px;*/
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

}
.card-container-two .btn-img-add {
  position: absolute;
  top: 58px;
  left: 49px;
  width: 90px;
  height: 90px;
  overflow: hidden;
  opacity: 0;
}
.card-container-two .btn-img-add input {
  font-size: 50px;
}
.card-container-two .btn-img-add1 {
  position: absolute;
  top: -19px;
  left: 158px;
  width: 67px;
  height: 67px;
  overflow: hidden;
  opacity: 0;
}
.card-container-two .btn-img-add1 input {
  font-size: 50px;
}
.card-container-two .card-back {
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  pointer-events: none;
}

.boat_gif_invisible{
  position: relative;
  width: 100%;
}
.render{
  position: absolute;
  z-index: 100;
  width: 100%;
  top:0;
  left: 0;
  right: 0;
}

.original{
  position: absolute;
  z-index: 5;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
}

.card-container-two .add {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  pointer-events: none;
}
.card-container-two .add-baby {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  pointer-events: none;
}


#plan {
  position: absolute;
  top: 0;
  left: 64px;
  width: 64px;
  height: 64px;
  pointer-events: none;
}
#plan canvas {
  width: 100%;
  height: 100%;
}

#plan0 {
  position: relative;
  top: 0;
  left: 67px;
  width: 90px;
  height: 90px;
  pointer-events: none;
}
#plan0 canvas {
  width: 100%;
  height: 100%;
}

#plan1 {
  position: absolute;
  top: -150px;
  left: 158px;
  width: 67px;
  height: 67px;
  pointer-events: none;
}
#plan1 canvas {
  width: 100%;
  height: 100%;
}

.button-content {
  margin: 0 auto;
  width: 80%;
}
.button-content .btn-img,.button-content .btn-content{
  width: 50%;
  float: left;
  text-align: center;
  padding: 2px 10px;
}

.btn-img img{
  width: 100%;
}

.btn-content-c{
  font-size: 12px;
  margin: 0 auto;
  max-width: 125px;
}

.boat-rescue-list,.boat-refuse-list{
  text-decoration: underline;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: auto;
}

#clipArea {
  margin: 0 auto;
  background: #ccc;
}

#clipArea1 {
  margin: 0 auto;
  background: #ccc;
}

.modal-clip {
  width: 100%;
  height: 100%;
}
.modal-clip .modal-content {
  width: 100%;
  height: 100%;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-clip .modal-body {
  padding: 0;
}

.clip-message {
  position: absolute;
  left: 0;
  top: 67%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: "黑体",serif;
  z-index: 300;
}

.clip-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #7ECEF4;
}


.img-back-pregnant {
  pointer-events: none;
  width: 320px;
  top: 50%;
  margin-top: -217px;
}

.img-back-mother {
  pointer-events: none;
  width: 320px;
  top: 50%;
  margin-top: -226px;
}

.img-back-baby {
  pointer-events: none;
  width: 320px;
  top: 50%;
  margin-top: -142px;
}

.img-back-user {
  pointer-events: none;
  width: 320px;
  left: 0;
  top: 50%;
  margin-top: -150px;
}

.boat-title{
  /*background-color: #C8EAFA;*/
  height: 95px;
  z-index: 1;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  margin: 0 auto;

}

.boat-title img{
  max-width: 400px;
  height: 100%;
}

.boat-upload-title{
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 55px;
  text-align: center;
  font-size: 18px;
  z-index: 300;

}

.boat-upload-title img{
  max-width: 350px;
  height: 100%;
}

.photo-clip-area{
  border-radius: 50%;
}


/*boat 中间文字部分*/
.boat-content{
  font-family: "xdxwc", serif;
  font-size: 18px;
  margin: 0 auto 18px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
}

.boat-content-red{
  font-size: 20px;
  font-family: "hukang", serif;
  color: #e9253c;

}

.boat-haha{
  width: 22px;
  margin-top: -8px;
}

.button-content::before,.button-content::after{
  content: ' ';
  clear: both;
  display: table;
}

.boat-content p{
  margin: 0;
}

.boat-icon{
  position: absolute;
  text-align: right;
  right: 0;
  z-index: 0;
  width: 120px;

}

.boat-icon img{
}


.boat-list{
  height: 380px;
  width: 250px;
  background: url('../img/boat/boat_list.png') top no-repeat rgba(0,0,0,0);
  background-size:100%;
  border:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.boat-list-close{
  position: absolute;
  height: 50px;
  width: 100%;
}

.boat-list-body{
  padding-top: 55px;
  text-align: center;
  overflow:hidden;
}

.boat-list-title{
  color: #1992a2;
  font-family: "黑体" ,serif ;
  font-weight: bold;
  margin-bottom: 15px;
}

.boat-list-number{
  position: absolute;
  margin: 0 auto;
  bottom: 30px;
  left: 0;
  right: 0;
  font-family: "黑体" ,serif ;
  color: #ff935b;
  font-weight: bold;
}

.boat-list-names{
  height: 240px;
  overflow-y: scroll;
}

.boat-list-name{
  margin: 0 auto;
  width: 85%;
  color: #22d5ee;
  font-size: 12px;
  border-bottom: 1px dashed #999;
  height: 26px;
  line-height: 26px;
}

.boat-list-name-l{
  float: left;
  padding-left: 12px;
}
.boat-list-name-r{
  float: right;
  padding-right: 40px;
}
.boat-list-name::before{
  display: inline-table;
  content: ' ';
  clear: both;
}

.want-play{
  position: absolute;
  left: 0;
  right: 0;
  font-family: "xdxwc", serif;
  font-size: 16px;
  text-align: center;
  bottom: 100px;
}

.want-play-span{
  color: white;
  text-decoration: underline;
}

.want-span{
  /*color: #000000;*/
  font-weight: 900;
}

.want-span span{
  padding: 0;
  margin: 0;
}

.want-span-1{
  padding-left:5px;
  color: rgba(0,0,0,0.5);
}
.want-span-2{
  color: rgba(0,0,0,0.8);
}
.want-span-3{
  color: rgba(0,0,0,1);
}

.boat-bottom{
  position: relative;
  bottom: 0;
  height: 146px;
  width: 100%;
  background: url("../img/boat/boat_bottom.png") center;
  background-size: cover;
}
.boat-bottom img{
  min-width: 414px;
  object-fit: cover;
}

.boat-bottom-link{
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

@font-face {
  font-family: 'hukang';  /*给自定义字体命名*/
  src: url("../fonts/myhkwwt.ttf") format('truetype');
}

@font-face {
  font-family: 'xdxwc';  /*给自定义字体命名*/
  src: url("../fonts/myxdxwc.ttf") format('truetype');
}